@font-face {
    font-family: 'cinzelbold';
    src: url('../fonts/menu-1/Cinzel-Bold-webfont.eot');
    src: url('../fonts/menu-1/Cinzel-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.woff') format('woff'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.ttf') format('truetype'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.svg#cinzelbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontleroybrownregular';
    src: url('../fonts/menu-1/FontleroyBrown-webfont.eot');
    src: url('../fonts/menu-1/FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/menu-1/FontleroyBrown-webfont.woff') format('woff'),
         url('../fonts/menu-1/FontleroyBrown-webfont.ttf') format('truetype'),
         url('../fonts/menu-1/FontleroyBrown-webfont.svg#fontleroybrownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}