
@font-face {
    font-family: 'cinzelbold';
    src: url('../fonts/menu-1/Cinzel-Bold-webfont.eot');
    src: url('../fonts/menu-1/Cinzel-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.woff') format('woff'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.ttf') format('truetype'),
         url('../fonts/menu-1/Cinzel-Bold-webfont.svg#cinzelbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

#main-menu {
  font-family: 'cinzelbold';
  background-color: black;
  margin-bottom: $base-padding;
  .menu {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: $base-padding / 2 0;

    &__list {
      float: left;
      border: 3px double red;
      margin: 0 2.5px;

      &:hover {
        border-color: white;
      }

      a {
        color: $base-color-invert;
        display: block;
        padding: 20px - 3px 50px - 3px;
        text-decoration: none;
      }
    }
  }
}
