.footer-hidden
footer.main-footer
  form.form-search(action="submit", onclick="return false;")
    input#search-key.search-key(Place-holder="Search here")
    button#search-btn.search-btn
      img(src="images/layouts/search.png")

