```
layout: "default"
```
.container
  .menu-front
  .menu-back
    ul.menu-list
      - for (var i = 0; i < 10; ++i) {
        li.menu-list__items(class= 'item-' + i) Lorem ipsum dolor sit amet........................1
      - }
      hr
      - for (var i = 0; i < 10; ++i) {
        li.menu-list__items(class= 'item-' + i) Lorem ipsum dolor sit amet........................1
      - }
      hr
      - for (var i = 0; i < 10; ++i) {
        li.menu-list__items(class= 'item-' + i) Lorem ipsum dolor sit amet........................1
      - }
  .clear
