```
layout: 'default'
```
.container.newfood
  center
    .row
      .col-xs-12.col-md-6.newfood__list
        h4.title Trai Cay Sach
        ul.food-list
          - for (var i = 0; i < 15; i++) {
            li.menu-list__items
              a.items food here...........................................1
          - }

      .col-xs-12.col-md-6.newfood__list
        h4.title Nuoc Giai Khat
        ul.food-list
          - for (var i = 0; i < 15; i++) {
            li.menu-list__items
              a.items food here...........................................1
          - }
    .row
      .col-xs-12.col-md-6.newfood__list
        h4.title Trai Cay Sach
        ul.food-list
          - for (var i = 0; i < 15; i++) {
            li.menu-list__items
              a.items food here...........................................1
          - }

      .col-xs-12.col-md-6.newfood__list
        h4.title Nuoc Giai Khat
        ul.food-list
          - for (var i = 0; i < 15; i++) {
            li.menu-list__items
              a.items food here...........................................1
          - }
