//  Color:
$base-color: #000;
$base-color-invert: #fff;
$primary-color: #029aff;
$danger-color: #ff234b;
$warning-color: #f4d924;
$gray-color: #f4d924;
$gray-darker: #21201c;
$gray-lighter: #4f4e4b;

// Padding:
$base-padding: 10px;
$medium-padding: 15px;
$larger-padding: $base-padding * 2;
$extra-padding: $medium-padding * 2;
